stealth\ project/Library
stealth\ project/Temp
stealth\ project/Logs
stealth\ project/obj/Debug
stealth project/UserSettings/

stealth project/.vs/stealth project/FileContentIndex/2e55d1cf-bd1c-4010-9f3a-106e7a5dabab.vsidx
stealth project/.vs/stealth project/FileContentIndex/b65531e9-545d-4a1b-ae01-66cc8c9870d6.vsidx
stealth project/.vs/stealth project/FileContentIndex/c6a72442-a3be-4a72-bd2d-e0a242ee2746.vsidx
stealth project/.vs/stealth project/FileContentIndex/dce6d373-66b3-4e23-b3cd-bc87a28fba72.vsidx
/stealth project/.vs/stealth project/FileContentIndex
/stealth project/Assets/Action_RPG_SFX

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log

/stealth project/.vs/stealth project/v17/.suo
/stealth project/.vs/stealth project/v17/DocumentLayout.json
/stealth project/.vs/stealth project/v17/fileList.bin
*.json
