stealth\ project/Library
stealth\ project/Temp
stealth\ project/Logs
stealth\ project/obj/Debug
stealth project/UserSettings/

stealth project/.vs/stealth project/FileContentIndex/2e55d1cf-bd1c-4010-9f3a-106e7a5dabab.vsidx
stealth project/.vs/stealth project/FileContentIndex/b65531e9-545d-4a1b-ae01-66cc8c9870d6.vsidx
stealth project/.vs/stealth project/FileContentIndex/c6a72442-a3be-4a72-bd2d-e0a242ee2746.vsidx
stealth project/.vs/stealth project/FileContentIndex/dce6d373-66b3-4e23-b3cd-bc87a28fba72.vsidx
